body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    background: #f9f9f9;
}

header nav ul {
    list-style: none;
    padding: 0;

}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #1E90FF;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #F5F5F5;
    border-radius: 8px;
}

div {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#noteForm {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
}

label {
    font-weight: bold;
    line-height: 34px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #1E90FF;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;

}

button:hover {
    background: #0d74d4;
}

#noteList {
    list-style: none;
    padding: 0;
}

/* #noteList li {
    background: white;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
} */

footer {

    margin-top: 20px;
    color: #666;
}

@media (max-width: 600px) {
    #noteForm {
        flex-direction: column;
    }

    input,
    button {
        width: 100%;
    }
}